<%-include("partials/header")-%>

    <div class="main-body">
        <h1>
            <%=postinfo.postTitle%>
        </h1>
        <p>
            <%=postinfo.postBody%>
        </p>
    </div>

    <%-include("partials/footer")-%>